.homepage {
  font-family: "Arial", sans-serif;
  color: #333;
  padding: 0;
  margin: 0;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2a2a72;
    color: white;

    .logo {
      display: flex;
      justify-content: center;

      img {
        width: 50px;
        margin-right: 10px;
      }

      h1 {
        font-size: 24px;
        margin: 0;
      }
    }

    .homepage-nav {
      ul {
        list-style: none;
        display: flex;
        // align-items: right;
        gap: 10px;

        li {
          a,
          button {
            color: white;
            text-decoration: none;
            padding: 10px 15px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 16px;
          }

          button:hover,
          a:hover {
            background-color: #003366;
            font-weight: bolder;
            border-radius: 5px;
          }
        }
      }
    }
  }

  &-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
    padding: 20px;
    background-image: url("../utils/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.9);

    h2 {
      font-size: 28px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      margin-bottom: 30px;
    }

    .cta-btn {
      text-decoration: none;
      padding: 10px 20px;
      background-color: #2a2a72;
      color: white;
      border-radius: 5px;
      font-size: 18px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}