.student-portal {
    text-align: center;
  
    .student-nav {
      margin-top: 5px;
  
      ul {
        list-style: none;
        padding: 5px;
  
        li {
          margin: 5px 5px;
  
          a {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
  
            // &:hover {
            //   text-decoration: underline;
            // }
          }
        }
      }
    }
  }  