.view-students {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #2a2a72;
  }

  .error-message {
    color: red;
    font-weight: bold;
    text-align: center;
  }

  .students-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th,
    td {
      border: 1px solid #007bff5b;
      text-align: left;
      padding: 10px;
      font-size: 1rem;
    }

    th {
      background-color: #007bff;
      color: white;
      text-align: center;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:hover {
      background-color: #f1f1f1;
    }
  }

  .select-term {
    display: block;
    margin: 20px auto;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      color: #0056b3;
      background-color: white;
    }
  }


  .back-button {
    display: block;
    margin: 20px auto;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }

  @media (max-width: 768px) {
    padding: 10px;

    h1 {
      font-size: 1.5rem;
    }

    .students-table {
      font-size: 0.9rem;
      th,
      td {
        padding: 8px;
      }
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 1.2rem;
    }

    .students-table {
      font-size: 0.8rem;
      th,
      td {
        padding: 5px;
      }
    }
  }
}
